@use 'sass:math';

$cream: #f2f7f2;
$yellow: #ffd447;
$tomato: #f86449;
$beige: #e7eeed;
$black: #4d4d4d;

$gradient: linear-gradient(115deg, #fb603e 0%, #cd1818 50%, #fb603e 100%);

$shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);

@mixin wiggle {
    position: relative;

    &::after {
        --scale: 1;
        content: '';
        position: absolute;
        height: 3.85px;
        width: 40px;
        background-image: url('~/assets/images/wiggle.svg');
        bottom: 0;
        left: 50%;
        transition: transform 200ms ease-out;
        transform-origin: left;
        transform: translateX(-50%) scaleX(var(--scale, 1));
    }
}

@function rem($pixel) {
    @return math.div($pixel, 16) * 1rem;
}
