@font-face {
    font-family: 'Biko-Black';
    src: url('~/assets/fonts/biko_black-webfont.woff2') format('woff2'),
        url('~/assets/fonts/biko_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Biko-Bold';
    src: url('~/assets/fonts/biko_bold-webfont.woff2') format('woff2'),
        url('~/assets/fonts/biko_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Biko-Light';
    src: url('~/assets/fonts/biko_light-restricted-webfont.woff2')
            format('woff2'),
        url('~/assets/fonts/biko_light-restricted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Biko-Regular';
    src: url('~/assets/fonts/biko_regular-webfont.woff2') format('woff2'),
        url('~/assets/fonts/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Phage-Regular';
    src: url('~/assets/fonts/phage_regular-webfont.woff2') format('woff2'),
        url('~/assets/fonts/phage_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Phage-Rough';
    src: url('~/assets/fonts/phage_rough-webfont.woff2') format('woff2'),
        url('~/assets/fonts/phage_rough-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Tahu';
    src: url('~/assets/fonts/tahu-webfont.woff2') format('woff2'),
        url('~/assets/fonts/tahu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Higher';
    src: url('~/assets/fonts/higher-webfont.woff2') format('woff2'),
        url('~/assets/fonts/higher-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
