.icons__sprite {
    display: inline-block;
    background-image: url('~/assets/images/icons.png');
    background-size: 420px 420px;
    width: 64px;
    height: 64px;
}

.css {
    background-position: -10px -10px;
}

.eslint {
    background-position: -94px -10px;
}

.express {
    background-position: -10px -94px;
}

.figma {
    background-position: -94px -94px;
}

.aws {
    background-position: -94px -94px;
}

.firebase {
    background-position: -178px -10px;
}

.git {
    background-position: -178px -94px;
}

.fastapi {
    background-position: -178px -93px;
}

.github {
    background-position: -10px -178px;
}

.gulp {
    background-position: -94px -178px;
}

.docker {
    background-position: -98px -178px;
}

.html {
    background-position: -178px -178px;
}

.javascript {
    background-position: -262px -10px;
}

.mongodb {
    background-position: -262px -94px;
}

.node {
    background-position: -262px -178px;
}

.nuxt {
    background-position: -10px -262px;
}

.postcss {
    background-position: -94px -262px;
}

.sql {
    background-position: -102px -262px;
}

.prettier {
    background-position: -178px -262px;
}

.sass {
    background-position: -262px -262px;
}

.tailwind {
    background-position: -346px -10px;
}

.python {
    background-position: -340px -10px;
}

.typescript {
    background-position: -346px -94px;
}

.udemy {
    background-position: -346px -178px;
}

.vite {
    background-position: -346px -262px;
}

.vue {
    background-position: -10px -346px;
}

.vue_mastery {
    background-position: -262px -346px;
}

.webpack {
    background-position: -94px -346px;
}

.youtube {
    background-position: -178px -346px;
}

.sprite__32 {
    background-size: 210px 210px;
    width: 32px;
    height: 32px;
}

.css__32 {
    background-position: -5px -5px;
}

.eslint__32 {
    background-position: -47px -5px;
}

.express__32 {
    background-position: -5px -47px;
}

.figma__32 {
    background-position: -47px -47px;
}

.firebase__32 {
    background-position: -89px -5px;
}

.git__32 {
    background-position: -89px -47px;
}

.github__32 {
    background-position: -5px -89px;
}

.gulp__32 {
    background-position: -47px -89px;
}

.html__32 {
    background-position: -89px -89px;
}

.javascript__32 {
    background-position: -131px -5px;
}

.mongodb__32 {
    background-position: -131px -47px;
}

.node__32 {
    background-position: -131px -89px;
}

.nuxt__32 {
    background-position: -5px -131px;
}

.postcss__32 {
    background-position: -47px -131px;
}

.prettier__32 {
    background-position: -89px -131px;
}

.sass__32 {
    background-position: -131px -131px;
}

.tailwind__32 {
    background-position: -173px -5px;
}

.typescript__32 {
    background-position: -173px -47px;
}

.udemy__32 {
    background-position: -173px -89px;
}

.vite__32 {
    background-position: -173px -131px;
}

.vue__32 {
    background-position: -5px -173px;
}

.vue_mastery__32 {
    background-position: -131px -173px;
}

.webpack__32 {
    background-position: -47px -173px;
}

.youtube__32 {
    background-position: -89px -173px;
}
