
// .skills__sprite {
//     background-image: url('~assets/images/skills.png');
//     background-size: 764px 764px;
// }

// .css {
//     width: 128px; height: 128px;
//     background-position: -330px -10px;
// }

// .eslint {
//     width: 125px; height: 128px;
//     background-position: -10px -626px;
// }

// .express {
//     width: 128px; height: 128px;
//     background-position: -330px -158px;
// }

// .figma {
//     width: 129px; height: 128px;
//     background-position: -170px -170px;
// }

// .firebase {
//     width: 128px; height: 128px;
//     background-position: -10px -330px;
// }

// .git {
//     width: 128px; height: 128px;
//     background-position: -158px -330px;
// }

// .github {
//     width: 128px; height: 128px;
//     background-position: -306px -330px;
// }

// .gulp {
//     width: 128px; height: 128px;
//     background-position: -478px -10px;
// }

// .html {
//     width: 128px; height: 128px;
//     background-position: -478px -158px;
// }

// .javascript {
//     width: 140px; height: 140px;
//     background-position: -10px -10px;
// }

// .mongodb {
//     width: 128px; height: 128px;
//     background-position: -478px -306px;
// }

// .node {
//     width: 128px; height: 128px;
//     background-position: -10px -478px;
// }

// .nuxt {
//     width: 128px; height: 128px;
//     background-position: -158px -478px;
// }

// .postcss {
//     width: 128px; height: 128px;
//     background-position: -306px -478px;
// }

// .prettier {
//     width: 140px; height: 140px;
//     background-position: -170px -10px;
// }

// .sass {
//     width: 128px; height: 128px;
//     background-position: -454px -478px;
// }

// .tailwind {
//     width: 128px; height: 128px;
//     background-position: -626px -10px;
// }

// .typescript {
//     width: 140px; height: 140px;
//     background-position: -10px -170px;
// }

// .vite {
//     width: 128px; height: 127px;
//     background-position: -626px -454px;
// }

// .vue {
//     width: 128px; height: 128px;
//     background-position: -626px -158px;
// }

// .webpack {
//     width: 128px; height: 128px;
//     background-position: -626px -306px;
// }


.skills__sprite {
    background-image: url('~assets/images/skills.png');
    background-size: 382px 382px;
}

.css {
    width: 64px; height: 64px;
    background-position: -165px -5px;
}

.eslint {
    width: 62.5px; height: 64px;
    background-position: -5px -313px;
}

.express {
    width: 64px; height: 64px;
    background-position: -165px -79px;
}

.figma {
    width: 64.5px; height: 64px;
    background-position: -85px -85px;
}

.firebase {
    width: 64px; height: 64px;
    background-position: -5px -165px;
}

.git {
    width: 64px; height: 64px;
    background-position: -79px -165px;
}

.github {
    width: 64px; height: 64px;
    background-position: -153px -165px;
}

.gulp {
    width: 64px; height: 64px;
    background-position: -239px -5px;
}

.html {
    width: 64px; height: 64px;
    background-position: -239px -79px;
}

.javascript {
    width: 70px; height: 70px;
    background-position: -5px -5px;
}

.mongodb {
    width: 64px; height: 64px;
    background-position: -239px -153px;
}

.node {
    width: 64px; height: 64px;
    background-position: -5px -239px;
}

.nuxt {
    width: 64px; height: 64px;
    background-position: -79px -239px;
}

.postcss {
    width: 64px; height: 64px;
    background-position: -153px -239px;
}

.prettier {
    width: 70px; height: 70px;
    background-position: -85px -5px;
}

.sass {
    width: 64px; height: 64px;
    background-position: -227px -239px;
}

.tailwind {
    width: 64px; height: 64px;
    background-position: -313px -5px;
}

.typescript {
    width: 70px; height: 70px;
    background-position: -5px -85px;
}

.vite {
    width: 64px; height: 63.5px;
    background-position: -313px -227px;
}

.vue {
    width: 64px; height: 64px;
    background-position: -313px -79px;
}

.webpack {
    width: 64px; height: 64px;
    background-position: -313px -153px;
}
